/* Style for the full body */
body {
    font-family: Arial, sans-serif; /* Readable and modern font */
    margin: 0;
    padding: 0;
    background-color: black; /* Light background for the page */
}

/* General styles for the navigation bar */
nav {
    background-color: black;
    text-align: center;
    position: relative;
    padding: 40px; /* Adjusted padding-top */
    
}

.nav-menu {
    display: flex;
    justify-content: space-around; /* Centers items horizontally */
    align-items: center; /* Centers items vertically */
    list-style: none;
    margin: 0;
    padding: 0;
    height: 50px; /* Set a specific height for the nav-menu */
}

.nav-menu li {
    margin: 0 15px;
} 

.nav-logo {
    width: 100px;
    height: 100px;
    outline: blue 2px solid;
}

.nav-icon {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    background-color: blue;
    padding: 15px; /* Increased padding */
    border-radius: 15px; /* Slightly larger border-radius */
    font-size: 18px; /* Larger font size */
    transition: transform 0.3s ease;
}

nav ul li:hover{
    transform: scale(1.2);
}

/* Commented out to remove the white bars */
/*
nav::before, nav::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 100px; 
    height: 5px;
    background: white;
    transform: translateY(-50%);
}

nav::before {
    left: 20px;
}

nav::after {
    right: 20px;
}
*/

/* Styling for the main title */
header {
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(Others/racingbkgrd.gif);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 120px;
    padding-bottom: 120px;
}

header h1 {
    font-size: 80px;
}

header h3 {
    font-size: 40px;
    margin-top: 36px;
}

.blue-gif, .yellow-gif {
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: play 1s steps(30) infinite;
}

.blue-gif {
    background-image: url('Others/bluegif.gif');
    font-weight: bold;
    text-decoration: underline;
}

.yellow-gif {
    background-image: url('Others/yellowgif.gif');
    font-weight: bold;
}

@keyframes play {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
}

/* General styles */
.content {
    padding: 15px;
    text-align: center;
}

/* Styles for section1 and section2 */
.section1, .section2 {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Equal two-column layout */
    align-items: center; /* Vertical centering */
    text-align: center; /* Center-aligned text */
    margin: 40px;
    padding: 40px;
    background-color: black; /* Black background */
    border: 5px solid white; /* White border */
}

/* Specific styles for section 2 */
.section2 {
    grid-template-areas: "image text"; /* Defining areas */
}

.section2 .content-text {
    grid-area: text; /* Area for text */
}

.section2 .content-image {
    grid-area: image; /* Area for image */
}

/* Adjustment for text and image content */
.content-text, .content-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: transform 0.3s ease;
    border-radius: 12px;
}

.content-text:hover, .content-image:hover {
    transform: scale(1.05); /* Zoom effect on hover */
}

/* Styles for text */
.content-text {
    color: white;
}

.content-text h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: blue;
    margin-bottom: 30px;
    animation: textGlow 1.5s ease-in-out infinite alternate;
}

.content-text p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: white;
    text-align: justify;
    margin-bottom: 20px;
    line-height: 32px;
    animation: fadeIn 2s;
}

/* Styles for images */
.content-image img {
    width: 60%; /* Adjust width to 100% of its container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 20px;
    outline: 10px solid blue;
}

/* Animation for glowing titles */
@keyframes textGlow {
    from {
        text-shadow: 0 0 10px blue, 0 0 20px blue, 0 0 30px blue, 0 0 40px blue;
    }
    to {
        text-shadow: 0 0 20px blue, 0 0 30px blue, 0 0 40px blue, 0 0 50px blue, 0 0 60px blue;
    }
}

/* Smooth appearance animation for paragraphs */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Alternate layout for odd sections */
.section1:nth-child(odd) {
    grid-template-areas: "image text";
}

.section1:nth-child(odd) .content-text {
    grid-area: text;
}

.section2:nth-child(odd) .content-image {
    grid-area: image;
}

footer {
    background-color: black;
    color: white;
    padding: 25px;
    text-align: center;
}

/* Estilos ajustados para la versión móvil */
.mobile-version {
    display: none; /* Oculto por defecto */
    flex-direction: column;
    justify-content: space-between; /* Asegura que el footer esté al fondo */
    min-height: 100vh; /* Altura completa del viewport */
    text-align: center;
    background-color: #000; /* Fondo negro */
    color: white; /* Texto blanco para contraste */
    padding: 20px;
}

/* Logo más pequeño */
.mobile-logo {
    width: 225px; /* Tamaño ajustado */
    height: auto;
    outline: 5px white solid;
}

/* Estilos para los botones de navegación móvil */
.mobile-nav-icon {
    display: block;
    background-color: blue; /* Fondo azul para botones */
    color: white; /* Texto blanco */
    margin: 10px 0;
    padding: 15px; /* Aumento de padding */
    text-decoration: none;
    border-radius: 15px; /* Bordes redondeados */
    transition: transform 0.3s ease;
    font-size: 18px; /* Tamaño de fuente mayor */
}

/* Estilos para el contenido dentro del botón */
.button-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilo de imagen dentro del botón */
.mobile-f1logo {
    height: 60px; /* Altura ajustada */
    margin-right: 10px; /* Espacio entre imagen y texto */
}

.link-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

/* Estilo de texto dentro del botón */
.button-content span {
    color: white; /* Texto blanco */
    font-size: 18px; /* Tamaño de fuente */
}

/* Efecto hover para botones */
.mobile-nav-icon:hover {
    transform: scale(1.2);
}

/* Estilos para el footer */
.mobile-version footer {
    padding: 25px;
    text-align: center;
    background-color: black; /* Fondo negro */
    color: white; /* Texto blanco */
}

/* Media Query para dispositivos móviles y tablets */
@media screen and (max-width: 1024px) {
    .mobile-version {
        display: flex; /* Mostrar versión móvil en pantallas pequeñas */
    }

    /* Ocultar elementos no móviles */
    nav, header, .section1, .section2, footer:not(.mobile-version footer) {
        display: none;
    }
}