/* Style for the full body */
body {
    font-family: Arial, sans-serif; /* Readable and modern font */
    margin: 0;
    padding: 0;
    background-color: black; /* Light background for the page */
}

/* General styles for the navigation bar */
nav {
    background-color: black;
    text-align: center;
    position: relative;
    padding: 40px; /* Adjusted padding-top */
    
}

.nav-menu {
    display: flex;
    justify-content: space-around; /* Centers items horizontally */
    align-items: center; /* Centers items vertically */
    list-style: none;
    margin: 0;
    padding: 0;
    height: 50px; /* Set a specific height for the nav-menu */
}

.nav-menu li {
    margin: 0 15px;
} 

.nav-logo {
    width: 100px;
    height: 100px;
    outline: purple 2px solid;
}

.nav-icon {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    background-color: purple;
    padding: 15px; /* Increased padding */
    border-radius: 15px; /* Slightly larger border-radius */
    font-size: 18px; /* Larger font size */
    transition: transform 0.3s ease;
}

nav ul li:hover{
    transform: scale(1.2);
}

/* Commented out to remove the white bars */
/*
nav::before, nav::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 100px; 
    height: 5px;
    background: white;
    transform: translateY(-50%);
}

nav::before {
    left: 20px;
}

nav::after {
    right: 20px;
}
*/

/* Styling for the main title */
header {
    position: relative; /* Ensure positioning context */
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 120px;
    padding-bottom: 120px;
}

.header-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Place it behind the content */
}

.header-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: playGif 20s linear infinite; /* Slow down the GIF */
    opacity: 0.5; /* Semi-transparent */
}

header h1 {
    font-size: 80px;
}

header h3 {
    font-size: 40px;
    margin-top: 36px;
}

.blue-gif, .yellow-gif {
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: play 1s steps(30) infinite;
}

.blue-gif {
    background-image: url('Others/bluegif.gif');
    font-weight: bold;
    border-bottom: 2px purple solid;
}

.yellow-gif {
    background-image: url('Others/yellowgif.gif');
    font-weight: bold;
}

@keyframes play {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
}

/* General styles */
.content {
    padding: 15px;
    text-align: center;
}

/* Styles for section1 and section2 */
.section1, .section2 {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Equal two-column layout */
    align-items: center; /* Vertical centering */
    text-align: center; /* Center-aligned text */
    margin: 40px;
    padding: 40px;
    background-color: black; /* Black background */
    border: 5px solid white; /* White border */
}

/* Specific styles for section 2 */
.section2 {
    grid-template-areas: "image text"; /* Defining areas */
}

.section2 .content-text {
    grid-area: text; /* Area for text */
}

.section2 .content-image {
    grid-area: image; /* Area for image */
}

/* Adjustment for text and image content */
.content-text, .content-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: transform 0.3s ease;
    border-radius: 12px;
}

.content-text:hover, .content-image:hover {
    transform: scale(1.05); /* Zoom effect on hover */
}

/* Styles for text */
.content-text {
    color: white;
}

.content-text h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: purple;
    margin-bottom: 30px;
    animation: textGlow 1.5s ease-in-out infinite alternate;
}

.content-text p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: white;
    text-align: justify;
    margin-bottom: 20px;
    line-height: 32px;
    animation: fadeIn 2s;
}

/* Styles for images */
.content-image img {
    width: 60%; /* Adjust width to 100% of its container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 20px;
    outline: 10px solid purple;
}

/* Animation for glowing titles */
@keyframes textGlow {
    from {
        text-shadow: 0 0 10px purple, 0 0 20px purple, 0 0 30px purple, 0 0 40px purple;
    }
    to {
        text-shadow: 0 0 20px purple, 0 0 30px purple, 0 0 40px purple, 0 0 50px purple, 0 0 60px purple;
    }
}

/* Smooth appearance animation for paragraphs */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Alternate layout for odd sections */
.section1:nth-child(odd) {
    grid-template-areas: "image text";
}

.section1:nth-child(odd) .content-text {
    grid-area: text;
}

.section2:nth-child(odd) .content-image {
    grid-area: image;
}

footer {
    background-color: black;
    color: white;
    padding: 25px;
    text-align: center;
}

/* Adjustments for mobile devices and apology message */
.mobile-message {
    display: none;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    padding: 20px;
    margin-top: 50px;
    font-size: 1.2em;
    color: white;
    text-align: justify;
    background-color: black;
    flex-direction: column; /* Align children in a column */
}

/* Adjustments for desktop devices and apology message */
.desktop-message {
    display: none;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    padding: 20px;
    margin-top: 50px;
    font-size: 1.2em;
    color: white;
    text-align: justify;
    background-color: black;
    flex-direction: column; /* Align children in a column */
}

/* Desktop Message - Coming Soon...*/
.desktop-message h1 {
    text-align: justify;
    font-size: 1.2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.desktop-message img {
    width: 250px;
    height: auto;
    margin-top: 20px; /* Adjusted margin-top for the image */
    border-radius: 10px;
}

/* Media Query for screens smaller than 1024px (Both Landscape and Portrait) */
@media only screen and (max-width: 1024px) {
    /* Hide main content and display desktop message */
    .container, .section1, .section2, header, footer {
        display: none;
    }

    #countdown {
        display: none;
    }

    .desktop-message {
        display: flex; /* Show desktop message */
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

/* Media Query specifically for Mobile Devices */
@media only screen and (max-width: 1024px) and (orientation: portrait) {
    .mobile-message {
        display: flex; /* Show mobile message */
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    #countdown {
        display: none;
    }

    /* Hide all other content */
    .container, nav, .section1, .section2, header, footer, .desktop-message {
        display: none;
    }
}