/* Style for the full body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: white;
}

/* General styles for the navigation bar */
nav {
    background-color: black;
    text-align: center;
    padding: 20px; /* Adjusted padding */
}

.nav-menu {
    display: flex;
    justify-content: space-around; /* Centers items horizontally */
    align-items: center; /* Centers items vertically */
    margin: 0;
    padding: 0;
}

.nav-logo {
    width: 100px;
    height: 100px;
    outline: crimson 2px solid;
}

.nav-icon {
    color: white;
    text-decoration: none;
    background-color: crimson;
    padding: 15px; /* Increased padding */
    border-radius: 15px; /* Slightly larger border-radius */
    font-size: 18px; /* Larger font size */
    transition: transform 0.3s ease;
}

.nav-icon:hover {
    transform: scale(1.2);
}

/* Styles for F1 Calendar */
.f1-calendar-container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background-color: #202020;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.f1-calendar-container h1 {
    color: crimson;
    text-align: center;
    margin-bottom: 30px;
    font-size: 48px; /* Increased font size for the title */
}

.race-schedule {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjusted min width for larger images */
    gap: 10px;
}

.race-entry {
    display: grid;
    grid-template-columns: 1fr auto; /* Two columns: one for the race info and one for the date and weather */
    gap: 20px; /* Increase gap for clearer separation */
    align-items: center;
    padding: 20px; /* Increased padding for more space */
    background-color: #282828;
    border-radius: 5px;
}

.race-info {
    display: flex;
    align-items: center;
    gap: 10px; /* Space between flag and race name */
}

.flag img {
    width: 80px; /* Adjust as necessary */
    height: auto;
}

.race-name {
    font-weight: bold;
    text-align: right;
    font-size: 24px; /* Increased font size */
}

.race-date {
    text-align: left; /* Align the date to the left within its cell */
    font-weight: bold;
    color: crimson;
    margin-right: 10px; /* Ensure some space between the date and the weather */
}

.race-weather {
    text-align: right; /* Forecast to the right within its cell */
    font-weight: bold;
    color: white;
}

.weather-icon {
    font-size: 24px; /* Set size for weather icons */
    margin-left: 5px; /* Space between the text and icon */
}

/* Adjustments for mobile devices and apology message */
.mobile-message {
    display: none;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    padding: 20px;
    margin-top: 50px;
    font-size: 1.2em;
    color: white;
    text-align: justify;
    background-color: black;
    flex-direction: column; /* Align children in a column */
}

/* Adjustments for desktop devices and apology message */
.desktop-message {
    display: none;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    padding: 20px;
    margin-top: 50px;
    font-size: 1.2em;
    color: white;
    text-align: justify;
    background-color: black;
    flex-direction: column; /* Align children in a column */
}

/* Desktop Message - Coming Soon...*/
.desktop-message h1 {
    text-align: justify;
    font-size: 1.2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.desktop-message img {
    width: 250px;
    height: auto;
    margin-top: 20px; /* Adjusted margin-top for the image */
    border-radius: 10px;
}

/* Media Query for screens smaller than 1024px (Both Landscape and Portrait) */
@media only screen and (max-width: 1024px) {
    /* Hide main content and display desktop message */
    .container, .section1, .section2, header, footer {
        display: none;
    }

    #countdown {
        display: none;
    }

    .desktop-message {
        display: flex; /* Show desktop message */
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

/* Media Query specifically for Mobile Devices */
@media only screen and (max-width: 1024px) and (orientation: portrait) {
    .mobile-message {
        display: flex; /* Show mobile message */
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    #countdown {
        display: none;
    }

    /* Hide all other content */
    .container, nav, .section1, .section2, header, footer, .desktop-message {
        display: none;
    }
}