/* Style for the full body */
body {
    font-family: Arial, sans-serif; /* Readable and modern font */
    margin: 0;
    padding: 0;
    background-color: black; /* Light background for the page */
}

/* General styles for the navigation bar */

nav {
    background-color: black;
    text-align: center;
    position: relative;
    padding: 40px; /* Adjusted padding-top */
    
}

.nav-menu {
    display: flex;
    justify-content: space-around; /* Centers items horizontally */
    align-items: center; /* Centers items vertically */
    list-style: none;
    margin: 0;
    padding: 0;
    height: 50px; /* Set a specific height for the nav-menu */
}

.nav-menu li {
    margin: 0 15px;
} 

.nav-logo {
    width: 100px;
    height: 100px;
    outline: red 2px solid;
}

.nav-icon {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    background-color: red;
    padding: 15px; /* Increased padding */
    border-radius: 15px; /* Slightly larger border-radius */
    font-size: 18px; /* Larger font size */
    transition: transform 0.3s ease;
}

nav ul li:hover{
    transform: scale(1.2);
}

/* Commented out to remove the white bars */
/*
nav::before, nav::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 100px; 
    height: 5px;
    background: white;
    transform: translateY(-50%);
}

nav::before {
    left: 20px;
}

nav::after {
    right: 20px;
}
*/

/* Styling for the main title */
header {
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(../Others/racingbkgrd.gif);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 20px;
}

header h1 {
    font-size: 40px;
}

/* Styling for the Google Form */
.google-form {
    display: flex;
    justify-content: center; /* Horizontally center the iframe */
    align-items: center; /* Vertically center the iframe */
    margin: 20px; /* Margin around the form */
    padding: 20px; /* Padding for better spacing */
    min-height: 80vh; /* Minimum height */
    width: 100%; /* Full width */
}

.google-form iframe {
    width: 80vw; /* 80% of the viewport width */
    height: 80vh; /* 80% of the viewport height */
    border: none; /* Remove the border */
}

/* Setting up the footer... */
footer {
    background-color: black;
    color: white;
    padding: 25px;
    text-align: center;
}

/* Adjustments for mobile devices and apology message */
.mobile-message {
    display: none;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    padding: 20px;
    margin-top: 50px;
    font-size: 1.2em;
    color: white;
    text-align: justify;
    background-color: black;
    flex-direction: column; /* Align children in a column */
}

/* Mobile Message - Coming Soon...*/
.mobile-message h1 {
    text-align: justify;
    font-size: 1.2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mobile-message img {
    width: 250px;
    height: auto;
    margin-top: 20px; /* Adjusted margin-top for the image */
    border-radius: 10px;
}

@media only screen and (max-width: 1024px) {
    .mobile-message {
        display: flex; /* Changed from block to flex */
    }

    /* Hide main content on mobile devices */
    .container, nav, footer, .section1, .section2, header {
        display: none;
    }
}

/* Media Query for Tablets */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    nav {
        padding: 20px; /* Reduced padding */
    }

    .nav-menu {
        flex-wrap: wrap; /* Allows items to wrap in smaller screens */
        justify-content: center; /* Center items when wrapped */
    }

    .nav-menu li {
        margin: 10px; /* Adjust margins for better spacing */
        flex-basis: 100%; /* Make each item take full width when wrapped */
        text-align: center; /* Center text for each item */
    }

    .nav-logo {
        margin-bottom: 10px; /* Space between logo and menu items */
    }
}