/* Style for the full body */
body {
    font-family: Arial, sans-serif; /* Readable and modern font */
    margin: 0;
    padding: 0;
    background-color: black; /* Light background for the page */
}

/* General styles for the navigation bar */
nav {
    background-color: black;
    text-align: center;
    padding: 20px; /* Adjusted padding */
}

.nav-menu {
    display: flex;
    justify-content: space-around; /* Centers items horizontally */
    align-items: center; /* Centers items vertically */
    margin: 0;
    padding: 0;
}

.nav-logo {
    width: 100px;
    height: 100px;
    outline: crimson 2px solid;
}

.nav-icon {
    color: white;
    text-decoration: none;
    background-color: crimson;
    padding: 15px; /* Increased padding */
    border-radius: 15px; /* Slightly larger border-radius */
    font-size: 18px; /* Larger font size */
    transition: transform 0.3s ease;
}

.nav-icon:hover {
    transform: scale(1.2);
}

/* Styling for the main title */
header {
    background-color: black;
    font-weight: bold; /* Makes text bolder */
    font-size: 1.1em; /* Slightly larger text */
    color: crimson; /* Example color - you can choose your own */
    text-shadow: 1px 1px 2px black; /* Optional shadow for depth */
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 40px;
    padding-bottom: 20px;
}

header h1 {
    font-size: 40px;
}

/* Styling for the Google Form */
.google-form {
    display: flex;
    justify-content: center; /* Horizontally center the iframe */
    align-items: center; /* Vertically center the iframe */
    margin: 20px; /* Margin around the form */
    padding: 20px; /* Padding for better spacing */
    min-height: 80vh; /* Minimum height */
    width: 100%; /* Full width */
}

.google-form iframe {
    width: 80vw; /* 80% of the viewport width */
    height: 80vh; /* 80% of the viewport height */
    border: none; /* Remove the border */
}

/* Setting up the footer... */
footer {
    background-color: black;
    color: white;
    padding: 25px;
    text-align: center;
}

/* Adjustments for mobile devices and apology message */
.mobile-message {
    display: none;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    padding: 20px;
    margin-top: 50px;
    font-size: 1.2em;
    color: white;
    text-align: justify;
    background-color: black;
    flex-direction: column; /* Align children in a column */
}

/* Adjustments for desktop devices and apology message */
.desktop-message {
    display: none;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    padding: 20px;
    margin-top: 50px;
    font-size: 1.2em;
    color: white;
    text-align: justify;
    background-color: black;
    flex-direction: column; /* Align children in a column */
}

/* Desktop Message - Coming Soon...*/
.desktop-message h1 {
    text-align: justify;
    font-size: 1.2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.desktop-message img {
    width: 250px;
    height: auto;
    margin-top: 20px; /* Adjusted margin-top for the image */
    border-radius: 10px;
}

/* Media Query for screens smaller than 1024px (Both Landscape and Portrait) */
@media only screen and (max-width: 1024px) {
    /* Hide main content and display desktop message */
    .container, .section1, .section2, header, footer {
        display: none;
    }

    #countdown {
        display: none;
    }

    .desktop-message {
        display: flex; /* Show desktop message */
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

/* Media Query specifically for Mobile Devices */
@media only screen and (max-width: 1024px) and (orientation: portrait) {
    .mobile-message {
        display: flex; /* Show mobile message */
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    #countdown {
        display: none;
    }

    /* Hide all other content */
    .container, nav, .section1, .section2, header, footer, .desktop-message {
        display: none;
    }
}